NODE_ENV=Testing

DB_URI

USER_TOKEN

PUBLISHER_TOKEN

ADMIN_TOKEN

DOMAIN_NAME

GEO_CODER_PROVIDER
GEO_CODER_CONSUMER_KEY
GEO_CODER_CONSUMER_SECRET

FILE_SIZE_LIMIT_BYTES
UPLOAD_FOLDER

JWT_SECRET
JWT_EXPIRES
JWT_COOKIE_EXPIRES

SMTP_HOST
SMTP_PORT
SMTP_USERNAME_OR_EMAIL
SMTP_PASSWORD
FROM_EMAIL
FROM_NAME